@import 'vars';

.comparative{
    width: 100%;
    min-width: 32rem;
    background-color: $color-background;
}

.comparative__container{
    width: 100%;
    display: flex;
    flex-direction: row;
    // margin: 0% 0% 0% 0%;
    // align-items: row;
    // overflow-x: scroll;
    // scroll-snap-type: x proximity;
    // overscroll-behavior-x: contain;
    // margin: 0 auto;
    // gap: 1rem;
}

.comparative__info{
    width: 100%;
    min-width: 32rem;
}

.comparative__info--search{
    width: 100%;
    margin: 0 auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.comparative__info--search button{
    width: 2.5rem;
    height: 2.5rem;
    border: 0;
    background-image: url('../assets//icons/lupa.png');
    background-color: $color-background;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.comparative__info--data{
    width: 100%;
    margin: 1rem auto;
    max-width: 80rem;
}

@media (max-width: 425px) {
    .comparative__container{
        width: 100%;
        display: flex;
        flex-direction: row;
        // margin: 0% 0% 0% 0%;
        align-items: row;
        overflow-x: scroll;
        scroll-snap-type: x proximity;
        overscroll-behavior-x: contain;
        margin: 0 auto;
        gap: 1rem;
    }
}