:root{
    --color-background: #F6F6F4;
    --color-box-primary: #373435;
    --color-box-second: #8b1a18;

    --color-line-primary: rgb(210, 195, 195);
    --color-line-second: rgba(126, 5, 5, 0.20);
    --color-line-box: black;
    --color-line-focus: rgb(216, 213, 213);
    --color-line-hover: rgb(177, 176, 176);

    --color-text: white;
    --color-placeholder: rgba(255, 255, 255, 0.4);

    --font-text: SitkaSmall;
    --font-input: 'Muli', sans-serif;

    --shadow-box: -10px 10px 10px rgba(55, 52, 53, 0.20), 10px 10px 10px rgba(55, 52, 53, 0.20);
    --shadow-focus: 0 1px 6px 0 rgb(138, 143, 143);
    --shadow-hover: 0 1px 6px 0 rgb(177, 176, 176);
}

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

img{
    width: 100%;
}

a{
    text-decoration: none;
    color: var(--color-text);
}

.graphic{
    width:  99%;
    display: block;
    border: solid 2px gray;
    border-radius: 10px;
    margin: 0.5rem auto;
}

.title{
    text-align: center;
    font-size: 2.8rem;
    padding: 2rem;
    text-transform: uppercase;
    margin: 0 auto;
}

input{
    width: 24rem;
    background-color: var(--color-box-primary);
    border: solid 1px var(--color-line-box);
    border-radius: 25px;
    color: var(--color-text);
    font-size: 1.6rem;
    text-align: center;
    padding: 0.5rem;
}