.process__info{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem auto;
}

.process__info--card{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.process__info--graphic{
  width: 100%;
  max-width: 80rem;
  margin: auto;
}

@media (max-width: 425px) {
  .process__info--card{
    flex-direction: column;
  }
}