.performance__card{
  margin: 0 auto;
  border-radius: 30px;
  padding: 1rem;
  background-color: var(--color-box-primary);
  text-decoration: none;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.performance__card--title{
  height: 1%;
  color: var(--color-text);
  font-size: 2rem;
  text-align: center;
  padding-bottom: 2rem;
}

.performance__card--table{
  color: white;
  font-size: 1.6rem;
}

.performance__card--table th{
  width: 1rem;
  text-align: end;
  padding: 0.5rem;
}

.performance__card--table td{
  width: 1rem;
  text-align: start;
  padding: 0.5rem;
}